.book-card {
  width: var(--card-width);
  border-radius: 8px;

  .book-thumbnail {
    height: var(--card-image-height);
  }

  .image-fallback {
    height: var(--card-image-height);
  }

  .book-title {
    font-weight: bold;
    font-size: 1.2em;
  }
}
